#map {
	height: 100%;
}

/* Visualization section */

#heat-map {
	width: 100%;
	height: 100vh;
	position: relative;
	float: left;
	color: #fff;
}

#heat-map .description {
	position: absolute;
	top: 30%;
	left: 30px;
	z-index: 10;
}

#heat-map .description h1 {
	line-height: 90px;
	margin-bottom: 0;
	margin-top: 0;
}

#heat-map .heatmap-description{
	margin-bottom: 40px;
	margin-top: 0;
}

#heat-map .heatmap-description p{
	padding-bottom: 0;
	letter-spacing: 1px;
}

#heat-map .description a.call-to-action {
	font-family: OpenSans-Semibold, sans-serif;
	font-size: 14px;
	letter-spacing: 0.5pt;
	padding: 15px 30px;
	background-color: rgb(43,43,43);
	border: 1px solid #fff;
	color: #fff;
	transition: all 0.5s ease;
}

#heat-map .description a.call-to-action:hover {
	background-color: #fff;
	border: 1px solid #fff;
	color: #000;
	transition: all 0.5s ease;
}

#heat-map #visualization {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(30,30,30);
	z-index: -100;
}

#heat-map #visualization .europe-boundaries {
	stroke: rgb(30,30,30);
	stroke-width: 0.5pt;
	fill: none;
}

#heat-map #visualization .europe {
	fill: rgb(0,0,0);
}

#heat-map #visualization .not-europe {
	fill: rgb(15,15,15);
}

#heat-map #legend {
	position: absolute;
	bottom: 30px;
	left: 30px;
	width: 150px;
	height: 50px;
	z-index: 20;
}

#heat-map .legend-line {
	position: relative;
	left: 50px;
	width: 160px;
	height: 8px;
	z-index: 20;
	background: url("../../images/legend.svg");
}

#heat-map .legend-start-label {
	margin-top: 5px;
	position: relative;
	left: 0;
	width: 100px;
	height: 0;
	z-index: 20;
	font-size: 12px;
	text-align: center;
}

#heat-map .legend-end-label {

	position: relative;
	left: 160px;
	width: 100px;
	height: 0;
	z-index: 20;
	font-size: 12px;
	text-align: center;
}

#heat-map #share {
	position: absolute;
	bottom: 30px;
	right: 0;
	width: 150px;
	height: 50px;
	background: url("../../images/label-share.svg");
	background-size: 200px 50px;
	z-index: 20;
}

#heat-map #share p{
	color: #1e1e1e;
	padding-top: 14px;
	padding-left: 50px;
	transition: all 0.5s ease;
}

#heat-map #share:hover {
	right: 0;
	width: 200px;
	height: 50px;
	transition: all 0.5s ease;
}


#heat-map #watermark {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 100px;
	height: 28px;
	background: url("../../images/inkOfPixel-watermark.svg");
	opacity: 0.3;
	z-index: 20;
	transition: all 0.5s ease;
}

#heat-map #watermark:hover {
	opacity: 1;
	transition: all 0.5s ease;
}


.flows-layer .flow {
	fill: #0099ff;
	/*fill-opacity: 0.5;*/
}

.cities-layer .city circle {
	fill: #fff;
	/*opacity: 0.6;*/
}

.cities-layer .city .city-name {
	fill: white;
	font-family: BebasNeue-Book, sans-serif;
	font-weight: 100;
	font-size: 12px;
	/*opacity: 0.6;*/
}
