/**
 * @author Mattia Marcon
 * @created 20/9/15
 *
 * Copyright inkOfPixel 2015
 */

#error-outer-wrapper{
	display:table;
	width: 100%;
	height: 100%;
	top: 0;
	margin: 0;
	padding: 0;
}

#error{
	background: url(../../images/bg-error.png) center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#error .description {
	display: inline-block;
	width: 100%;
}

#error h2{
	font-family: BebasNeue-Book, sans-serif;
	font-size: 200px;
	font-weight: 100;
	margin: 0;
}
#error h1{
	font-family: BebasNeue-Book, sans-serif;
	font-size: 80px;
	font-weight: 100;
	margin: -20px 0 20px;

}

#error a.call-to-action {
	font-family: OpenSans-Semibold, sans-serif;
	font-size: 14px;
	letter-spacing: 0.5pt;
	padding: 15px 30px;
	background-color: rgb(43,43,43);
	border: 1px solid #fff;
	color: #fff;
	transition: all 0.5s ease;
}

#error a.call-to-action:hover {
	background-color: #fff;
	border: 1px solid #fff;
	color: #000;
	transition: all 0.5s ease;
}
/**
 * @author Massimo De Marchi
 * @created 19/9/15
 *
 * Copyright inkOfPixel 2015.
 */

.input-category button.selected-category {
	width: 100%;
	padding: 0 20px 0 20px;
	height: 50px;
	margin-top: 20px;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	background: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	text-align: left;
}

.input-category button.selected-category.not-set {
	color: #aaa;
}

.input-category button.selected-category .icon {
	float: right;
	width: 15px;
	padding: 0;
}

.input-category button.selected-category .icon > svg {
	fill: #333;
	-webkit-transition: transform 0.3s ease;
	transition: transform 0.3s ease;
}

.input-category button.selected-category.menu-visible .icon > svg {
	fill: #333;
	transform: rotate(180deg);
}

.input-category .menu-wrapper {
	position: relative;
	width: 100%;
}

.input-category .menu {
	position: absolute;
	width: 100%;
	padding: 10px 0;
	background-color: #fff;
	border: 1px solid #f1f1f1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 100;

	-webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */
	transform-origin: 0 0;
	transform: scale(1, 0);
	-webkit-transform: scale(1,0);

	-webkit-transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease;
}

.input-category .menu.visible {
	transform: scale(1, 1);
	-webkit-transform: scale(1,1);
}

.input-category .menu button.category-item {
	clear: both;
	width: calc(100% - 20px);
	border: none;
	outline: none;
	background-color: rgba(255,255,255,0);
	padding: 10px 0 10px 10px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	text-align: left;
	opacity: 0;
	transition: opacity 0.3s ease;
	-webkit-transition: opacity 0.3s ease;
}

.input-category .menu.visible button.category-item {
	opacity: 1;
	background-color: rgba(0,0,0,0);
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

.input-category .menu.visible button.category-item:hover {
	background-color: rgba(0,113,187,0.1);
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

.input-category .menu.visible .category-item:not(:first-child) {
	border-top: 1px solid #f1f1f1;
}
/**
 * @author Mattia Marcon 
 * @created 21/09/15
 *
 * Copyright inkOfPixel 2015.
 */

.input-grid{
	width: calc(100% + 10px);
	margin: 10px 0;
}

.input-grid button.item{
	margin: 5px;
	height: 50px;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	background-color: rgba(255,255,255,1);
	border: none;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	outline: none;
	width: calc(16.66% - 10px);
}

.input-grid button.item:hover{
	background-color: rgba(0,113,187,0.1);
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	cursor: pointer;
}

.input-grid button.item.selected{
	background-color: rgba(0,113,187,1);
	color: #fff;
}


/**
 * @author Mattia Marcon 
 * @created 21/09/15
 *
 * Copyright inkOfPixel 2015.
 */

.input-option{
	margin-top: 20px;
}

.input-option .option{
	height: 50px;
	width: 50px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 12px;
	background-color: rgba(255,255,255,1);
	border: none;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	outline: none;
}

.input-option .option:hover{
	background-color: rgba(0,113,187,0.1);
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	cursor: pointer;
}

.input-option .option.selected{
	background-color: rgba(0,113,187,1);
	color: #fff;
}
/**
 * @author Massimo De Marchi 
 * @created 9/19/15
 *
 * Copyright inkOfPixel 2015.
 */

.input-place input[type="text"].place-field {
	width: calc(100% - 40px);
	border: 0;
	outline: none;
	height: 50px;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	padding: 0 20px 0 20px;
	margin-top: 20px;
}

.input-place input[type="text"].place-field.placeholder {
	color: #aaa;
}

.input-place .predictions-wrapper {
	position: relative;
	width: 100%;
}

.input-place .predictions-wrapper .predictions {
	position: absolute;
	width: 100%;
	padding: 10px 0;
	background-color: #fff;
	border: 1px solid #f1f1f1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;

	-webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */
	transform-origin: 0 0;
	transform: scale(1, 0);
	-webkit-transform: scale(1,0);

	-webkit-transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease;
}

.input-place .predictions-wrapper .predictions.visible {
	transform: scale(1, 1);
	-webkit-transform: scale(1,1);
}

.input-place .predictions-wrapper .predictions button.place-item {
	clear: both;
	width: calc(100% - 20px);
	border: none;
	outline: none;
	background-color: rgba(255,255,255,0);
	padding: 10px 0 10px 10px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	text-align: left;
	opacity: 0;
	transition: opacity 0.3s ease;
	-webkit-transition: opacity 0.3s ease;
}

.input-place .predictions-wrapper .predictions.visible button.place-item {
	opacity: 1;
	background-color: rgba(0,0,0,0);
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

.input-place .predictions-wrapper .predictions.visible button.place-item:hover {
	background-color: rgba(0,113,187,0.1);
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

.input-place .predictions-wrapper .predictions.visible button.place-item:not(:first-child) {
	border-top: 1px solid #f1f1f1;
}



















/**
 * @author Mattia Marcon
 * @created 19/9/15
 *
 * Copyright inkOfPixel 2015.
 */

.input-rate{
	display: inline-block;
}

.input-rate .rating{
	height: 36px;
	width: 36px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 12px;
	background-color: rgba(255,255,255,1);
	border: none;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	outline: none;
}

.input-rate .rating:hover{
	background-color: rgba(0,113,187,0.1);
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	cursor: pointer;
}

.input-rate .rating.selected{
	background-color: rgba(0,113,187,1);
	color: #fff;
}
/**
 * @author Massimo De Marchi 
 * @created 9/21/15
 *
 * Copyright inkOfPixel 2015.
 */

.input-rate-grid {
	margin-top: 20px;
}

.input-rate-grid .rating-wrapper {
	width: 100%;
	text-align: right;
}

.input-rate-grid .rating-wrapper .label{
	display: inline-block;
	padding-right: 10px;
}

/**
 * @author Mattia Marcon 
 * @created 21/09/15
 *
 * Copyright inkOfPixel 2015.
 */

.input-mail input.field {
	width: calc(100% - 40px);
	border: 0;
	outline: none;
	height: 50px;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	padding: 0 20px 0 20px;
	margin-top: 20px;
	text-align: center;
}

.input-mail input.field.placeholder {
	color: #aaa;
}
@font-face {
	font-family: OpenSans-Regular;
	src: url(../../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: OpenSans-Semibold;
	src: url(../../fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: OpenSans-Italic;
    src: url(../../fonts/OpenSans-Italic.ttf);
}

@font-face {
	font-family: BebasNeue-Regular;
	src: url(../../fonts/BebasNeue-Regular.ttf);
	src: url(../../fonts/BebasNeue-Regular.otf);
}

@font-face {
	font-family: BebasNeue-Book;
	src: url(../../fonts/BebasNeue-Book.ttf);
	src: url(../../fonts/BebasNeue-Book.otf);
}

input:-webkit-autofill {
	/*-webkit-box-shadow: 0 0 0 1000px white inset;*/
	display: none !important;
}

body {
	padding: 0;
	margin: 0;
	border: 0;

	width: 100%;
	position: absolute;



	font: 14px OpenSans-Regular, sans-serif;
	background-color: rgb(20,20,20);
	color: white;
}

a {
	color: #00B7FF;
	text-decoration: none;
}

b{
	font-family: OpenSans-Semibold, sans-serif;
}

p{
	margin: 0;
	padding-top: 0;
	padding-bottom: 14px;
}

.last{
	padding-bottom: 0;
}

h1 {
	font-family: BebasNeue-Book, sans-serif;
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 100;
}

/* Navigation */

.navigation-bar {
	transition: all 0.5s ease;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	overflow: hidden;
	background-color: rgba(25,25,25,0.9);
	border-bottom: 1px solid #333;
}

.navigation-bar.light {
	transition: all 0.5s ease;
	background-color: rgba(255,255,255,0.9);
	border-bottom: 1px solid #f1f1f1;
}

.navigation-bar ul {
	float: right;
	list-style-type: none;
	margin-right: 40px;
}

.navigation-bar li {
	display: inline-block;
	padding: 16px 10px;
	font-family: OpenSans-Semibold, sans-serif;
	font-size: 14px;
}

.navigation-bar a {
	text-decoration: none;
	color: #777777;
	transition: all 0.3s ease;
}

.navigation-bar a:hover {
	color: #fff;
	transition: all 0.3s ease;
}

.navigation-bar.light a:hover {
	color: #333;
	transition: all 0.3s ease;
}

.navigation-bar #logo {
	position: absolute;
	top: 20%;
	left: 30px;
	height: 60%;
	width: 330px;
	overflow: hidden;
	background: no-repeat url("../../images/logo.svg");
}

.navigation-bar.light #logo {
	background: no-repeat url("../../images/logo-dark.svg");
}

/* Uprise */


/*#uprise {*/
	/*background: #873d04; /!* Old browsers *!/*/
	/*background: -moz-linear-gradient(-45deg,  #873d04 0%, #88007f 100%); /!* FF3.6+ *!/*/
	/*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#873d04), color-stop(100%,#88007f)); /!* Chrome,Safari4+ *!/*/
	/*background: -webkit-linear-gradient(-45deg,  #873d04 0%,#88007f 100%); /!* Chrome10+,Safari5.1+ *!/*/
	/*background: -o-linear-gradient(-45deg,  #873d04 0%,#88007f 100%); /!* Opera 11.10+ *!/*/
	/*background: -ms-linear-gradient(-45deg,  #873d04 0%,#88007f 100%); /!* IE10+ *!/*/
	/*background: linear-gradient(135deg,  #873d04 0%,#88007f 100%); /!* W3C *!/*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#873d04', endColorstr='#88007f',GradientType=1 ); /!* IE6-9 fallback on horizontal gradient *!/*/
/*}*/

/*#uprise .logo{*/
	/*height: 100px;*/
	/*width: 210px;*/
	/*overflow: hidden;*/
	/*background: no-repeat url("../../images/uprise.svg");*/
	/*margin: 0 auto;*/
/*}*/

/*#uprise .description{*/
	/*text-align: center;*/
	/*margin-top: 30px;*/
	/*color: #fff;*/
	/*font-family: BebasNeue-Book, sans-serif;*/
	/*font-size: 40px;*/
/*}*/

/* Thunderclap

#thunderclap {
	background: #db5d00;
}

#thunderclap .logo{
	height: 150px;
	width: 250px;
	overflow: hidden;
	background: no-repeat url("../../images/thunderclap.svg");
	margin: 0 auto;
}

#thunderclap .description{
	text-align: center;
	margin-top: 30px;
	color: #fff;
	font-family: BebasNeue-Book, sans-serif;
	font-size: 40px;
}*/


/* Sections */
section {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	color: #333;
}

section .wrapper {
	width: 740px;
	margin-left: auto;
	margin-right: auto;
}

section .wrapper > * {
	display: block;
	float: left;
}

section .wrapper > h1 {
	padding: 0 4% 0 0;
	margin: 0;
	width: 36%;
	text-align: right;
}

section .wrapper > .content {
	width: 60%;
	font-family: OpenSans-Regular, sans-serif;
	line-height: 22px;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

#testimonials, #about, #contacts {
	background: #fff url("../../images/pattern-bg.png");
	background-size: 600px 600px;
}

#about h1, #contacts h1 {
	color: #92278e;
}

#project, #team, #survey {
	background-color: #f1f1f1;
}

#project h1, #team h1, #survey h1 {
	color: #0071bb;
}

#project ul {
	padding-left: 20px;
}

/* Testimonials */

#testimonials .wrapper{
    width: 740px;
    margin-left: auto;
    margin-right: auto;
}

#testimonials .wrapper .single{
    width: 740px;
    height: 120px;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

#testimonials .wrapper .single .photo{
    width: 120px;
    height: 120px;
    background-size: 120px 120px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

#testimonials .wrapper .single .photo.mikkoalasaarela{
    background-image: url("../../images/mikkoalasaarela.png");
}

#testimonials .wrapper .single .photo.alexfrankenberg{
    background-image: url("../../images/alexfrankenberg.png");
}

#testimonials .wrapper .single .photo.tomwehmeier{
    background-image: url("../../images/tomwehmeier.png");
}

#testimonials .wrapper .single .photo.elidavid{
	background-image: url("../../images/elidavid.png");
}

#testimonials .wrapper .single .photo.stephanjaquemon{
	background-image: url("../../images/stephanjacquemot.png");
}

#testimonials .wrapper .single .description{
    width: 560px;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#testimonials .wrapper .single .description .name{
    font-family: BebasNeue-Regular, sans-serif;
    font-size: 24px;
    color: #92278e;
}

#testimonials .wrapper .single .description .position{
    font-family: BebasNeue-Book, sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
}

#testimonials .wrapper .single .description .quote{
    font-family: OpenSans-Italic, sans-serif;
    font-size: 14px;
    color: #333;
}




.input-category {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.input-option .option:nth-child(2):hover{
	background-color: rgba(255,123,171,0.1);
}

.input-option .option:nth-child(2).selected{
	background-color: rgba(255,123,171,1);
}

#team .profile{
	font-family: BebasNeue-Regular, sans-serif;
	font-size: 32px;
	color: #0071bb;
	padding-top: 8px;
	padding-bottom: 10px;
}

#social{
	float: left;
	display: block;
	width: 100%;
	margin-bottom: 30px;
}

#social .icon{
	float: left;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	opacity: 0.9;
	transition: all 0.2s ease;
}

#social .icon:hover{
	height: 60px;
	width: 60px;
	margin: -5px 5px -5px -5px;
	opacity: 1;
	transition: all 0.2s ease;
}

#social .facebook{
	background-image: url("../../images/facebook.svg");
}

#social .twitter{
	background-image: url("../../images/twitter.svg");
}

#social .linkedin{
	background-image: url("../../images/linkedin.svg");
}

#contacts a{
	transition: all 0.2s ease;
	color: #333;
}

#contacts a:hover{
	transition: all 0.2s ease;
	color: #92278e;
}

footer {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #141414;
}

footer p{
	text-align: center;
	font-family: OpenSans-Regular, sans-serif;
	padding-top: 40px;
	padding-bottom: 20px;
	font-size: 12px;
}

footer #logo{
	height: 200px;
	width: 100%;
	overflow: hidden;
	background: no-repeat url("../../images/logo-footer.svg") center;
	margin: 0 auto;
}

footer #supporter-container{
    margin: 0 auto;
    height: 100px;
    width: 300px;
}

footer #supporter-container .supporter{
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
    height: 100px;
}

footer #supporter-container .supporter.allianz{
	width: 160px;
	background: no-repeat url("../../images/logo-allianz.svg") center;
}

footer #supporter-container .supporter.atomico{
    width: 60px;
    background: no-repeat url("../../images/logo-atomico.svg") center;
}

footer #inkofpixel{
	height: 80px;
	width: 100%;
	overflow: hidden;
	background: no-repeat url("../../images/logo-inkOfPixel.svg") center;
	margin: 0 auto;
}



/**
 * @author Massimo De Marchi 
 * @created 9/19/15
 *
 * Copyright inkOfPixel 2015.
 */

@-webkit-keyframes slide-transition {
	0% {
		display: none;
		opacity: 0;
		max-height: 0;
	}
	1% {
		display: block;
	}
	100% {
		opacity: 1;
		height: auto;
		max-height: 1000px;
	}
}


#survey .page-number {
	clear: both;
	width: 100%;
	text-align: center;
	font-family: BebasNeue-Book, sans-serif;
	font-size: 24px;
	font-weight: 100;
	padding-top: 20px;
	-webkit-animation: slide-transition 1s ease-in;
	animation: slide-transition 1s ease-in;
}

#survey p {
	padding-bottom: 5px;
}

#survey .wrapper {
	width: 740px;
	margin-left: auto;
	margin-right: auto;
}

#survey .wrapper > * {
	float: none;
}

#survey .question {
	clear: both;
	-webkit-animation: slide-transition 1s ease-in;
	animation: slide-transition 1s ease-in;
}

#survey .question:first-child > * {
	display: block;
	float: left;
}

#survey .question:not(:first-child) {
	text-align: center;
}

#survey .question:first-child > h1 {
	padding: 0 4% 0 0;
	margin: 0;
	width: 36%;
	text-align: right;
}

#survey .question:first-child > .content {
	width: 60%;
}

#survey .question.visible {
	/*display: none;*/
	opacity: 1;
}

#survey .question.not-visible {
	display: none;
	opacity: 0;
}

#survey .question .city-name{
	font-family: BebasNeue-Book, sans-serif;
	font-size: 32px;
	font-weight: 100;
	letter-spacing: 2px;
    color: #0071bb;
	margin: 30px 0 0 0 ;
}

#survey .question .city-number{
	font-family: BebasNeue-Book, sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 1px;
	color: #0071bb;
}

#survey .question .thank-you{
	font-family: BebasNeue-Book, sans-serif;
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 100;
	color: #0071bb;
}

/* CONTROLS */
input[type="text"] {
	border: 0;
	outline: none;
	height: 50px;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	padding: 0 20px 0 20px;
	margin-top: 20px;
	width: 100%;
}

button.next {
	margin-top: 16px;
	border: 0;
	height: 50px;
	padding: 5px 0 0;
	width: 33.33%; /* center button 20% of total equal 33.33% of 60% */
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: BebasNeue-Book, sans-serif;
	font-size: 24px;
	font-weight: 100;
	background-color: #0071bb;
	color: #fff;
	cursor: pointer;
	outline: none;
	letter-spacing: 2px;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

button.next:hover {
	background-color: #005c99;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

button.next.disabled {
	background-color: #aaa;
}

button.skip {
	margin-top: 16px;
	border: 0;
	height: 50px;
	padding: 5px 0 0;
	width: 33.33%; /* center button 20% of total equal 33.33% of 60% */
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: BebasNeue-Book, sans-serif;
	font-size: 24px;
	font-weight: 100;
	background-color: #aaa;
	color: #fff;
	cursor: pointer;
	outline: none;
	letter-spacing: 2px;
	margin-right: 10px;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

button.skip:hover {
	background-color: #999999;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}


.input-category.age {
	width: 200px;
}

.input-category.age .menu {
	max-height: 200px;
	overflow: scroll;
}






























