/**
 * @author Mattia Marcon
 * @created 20/9/15
 *
 * Copyright inkOfPixel 2015
 */

#error-outer-wrapper{
	display:table;
	width: 100%;
	height: 100%;
	top: 0;
	margin: 0;
	padding: 0;
}

#error{
	background: url(../../images/bg-error.png) center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#error .description {
	display: inline-block;
	width: 100%;
}

#error h2{
	font-family: BebasNeue-Book, sans-serif;
	font-size: 200px;
	font-weight: 100;
	margin: 0;
}
#error h1{
	font-family: BebasNeue-Book, sans-serif;
	font-size: 80px;
	font-weight: 100;
	margin: -20px 0 20px;

}

#error a.call-to-action {
	font-family: OpenSans-Semibold, sans-serif;
	font-size: 14px;
	letter-spacing: 0.5pt;
	padding: 15px 30px;
	background-color: rgb(43,43,43);
	border: 1px solid #fff;
	color: #fff;
	transition: all 0.5s ease;
}

#error a.call-to-action:hover {
	background-color: #fff;
	border: 1px solid #fff;
	color: #000;
	transition: all 0.5s ease;
}