/**
 * @author Massimo De Marchi 
 * @created 9/21/15
 *
 * Copyright inkOfPixel 2015.
 */

.input-rate-grid {
	margin-top: 20px;
}

.input-rate-grid .rating-wrapper {
	width: 100%;
	text-align: right;
}

.input-rate-grid .rating-wrapper .label{
	display: inline-block;
	padding-right: 10px;
}
