/**
 * @author Mattia Marcon
 * @created 19/9/15
 *
 * Copyright inkOfPixel 2015.
 */

.input-rate{
	display: inline-block;
}

.input-rate .rating{
	height: 36px;
	width: 36px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 12px;
	background-color: rgba(255,255,255,1);
	border: none;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	outline: none;
}

.input-rate .rating:hover{
	background-color: rgba(0,113,187,0.1);
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	cursor: pointer;
}

.input-rate .rating.selected{
	background-color: rgba(0,113,187,1);
	color: #fff;
}