/**
 * @author Massimo De Marchi
 * @created 19/9/15
 *
 * Copyright inkOfPixel 2015.
 */

.input-category button.selected-category {
	width: 100%;
	padding: 0 20px 0 20px;
	height: 50px;
	margin-top: 20px;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	background: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	text-align: left;
}

.input-category button.selected-category.not-set {
	color: #aaa;
}

.input-category button.selected-category .icon {
	float: right;
	width: 15px;
	padding: 0;
}

.input-category button.selected-category .icon > svg {
	fill: #333;
	-webkit-transition: transform 0.3s ease;
	transition: transform 0.3s ease;
}

.input-category button.selected-category.menu-visible .icon > svg {
	fill: #333;
	transform: rotate(180deg);
}

.input-category .menu-wrapper {
	position: relative;
	width: 100%;
}

.input-category .menu {
	position: absolute;
	width: 100%;
	padding: 10px 0;
	background-color: #fff;
	border: 1px solid #f1f1f1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;

	-webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */
	transform-origin: 0 0;
	transform: scale(1, 0);
	-webkit-transform: scale(1,0);

	-webkit-transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease;
}

.input-category .menu.visible {
	transform: scale(1, 1);
	-webkit-transform: scale(1,1);
}

.input-category .menu button.category-item {
	clear: both;
	width: calc(100% - 20px);
	border: none;
	outline: none;
	background-color: rgba(255,255,255,0);
	padding: 10px 0 10px 10px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	text-align: left;
	opacity: 0;
	transition: opacity 0.3s ease;
	-webkit-transition: opacity 0.3s ease;
}

.input-category .menu.visible button.category-item {
	opacity: 1;
	background-color: rgba(0,0,0,0);
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

.input-category .menu.visible button.category-item:hover {
	background-color: rgba(0,113,187,0.1);
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

.input-category .menu.visible .category-item:not(:first-child) {
	border-top: 1px solid #f1f1f1;
}