/**
 * @author Massimo De Marchi 
 * @created 9/19/15
 *
 * Copyright inkOfPixel 2015.
 */

.input-place input[type="text"].place-field {
	width: calc(100% - 40px);
	border: 0;
	outline: none;
	height: 50px;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	padding: 0 20px 0 20px;
	margin-top: 20px;
}

.input-place input[type="text"].place-field.placeholder {
	color: #aaa;
}

.input-place .predictions-wrapper {
	position: relative;
	width: 100%;
}

.input-place .predictions-wrapper .predictions {
	position: absolute;
	width: 100%;
	padding: 10px 0;
	background-color: #fff;
	border: 1px solid #f1f1f1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;

	-webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */
	transform-origin: 0 0;
	transform: scale(1, 0);
	-webkit-transform: scale(1,0);

	-webkit-transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease;
}

.input-place .predictions-wrapper .predictions.visible {
	transform: scale(1, 1);
	-webkit-transform: scale(1,1);
}

.input-place .predictions-wrapper .predictions button.place-item {
	clear: both;
	width: calc(100% - 20px);
	border: none;
	outline: none;
	background-color: rgba(255,255,255,0);
	padding: 10px 0 10px 10px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	text-align: left;
	opacity: 0;
	transition: opacity 0.3s ease;
	-webkit-transition: opacity 0.3s ease;
}

.input-place .predictions-wrapper .predictions.visible button.place-item {
	opacity: 1;
	background-color: rgba(0,0,0,0);
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

.input-place .predictions-wrapper .predictions.visible button.place-item:hover {
	background-color: rgba(0,113,187,0.1);
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

.input-place .predictions-wrapper .predictions.visible button.place-item:not(:first-child) {
	border-top: 1px solid #f1f1f1;
}


















