/**
 * @author Mattia Marcon 
 * @created 21/09/15
 *
 * Copyright inkOfPixel 2015.
 */

.input-option{
	margin-top: 20px;
}

.input-option .option{
	height: 50px;
	width: 50px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 12px;
	background-color: rgba(255,255,255,1);
	border: none;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	outline: none;
}

.input-option .option:hover{
	background-color: rgba(0,113,187,0.1);
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	cursor: pointer;
}

.input-option .option.selected{
	background-color: rgba(0,113,187,1);
	color: #fff;
}