/**
 * @author Mattia Marcon 
 * @created 21/09/15
 *
 * Copyright inkOfPixel 2015.
 */

.input-mail input.field {
	width: calc(100% - 40px);
	border: 0;
	outline: none;
	height: 50px;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	padding: 0 20px 0 20px;
	margin-top: 20px;
	text-align: center;
}

.input-mail input.field.placeholder {
	color: #aaa;
}