/**
 * @author Mattia Marcon 
 * @created 21/09/15
 *
 * Copyright inkOfPixel 2015.
 */

.input-grid{
	width: calc(100% + 10px);
	margin: 10px 0;
}

.input-grid button.item{
	margin: 5px;
	height: 50px;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	background-color: rgba(255,255,255,1);
	border: none;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	outline: none;
	width: calc(16.66% - 10px);
}

.input-grid button.item:hover{
	background-color: rgba(0,113,187,0.1);
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	cursor: pointer;
}

.input-grid button.item.selected{
	background-color: rgba(0,113,187,1);
	color: #fff;
}

