@font-face {
	font-family: OpenSans-Regular;
	src: url(../../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: OpenSans-Semibold;
	src: url(../../fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: OpenSans-Italic;
    src: url(../../fonts/OpenSans-Italic.ttf);
}

@font-face {
	font-family: BebasNeue-Regular;
	src: url(../../fonts/BebasNeue-Regular.ttf);
	src: url(../../fonts/BebasNeue-Regular.otf);
}

@font-face {
	font-family: BebasNeue-Book;
	src: url(../../fonts/BebasNeue-Book.ttf);
	src: url(../../fonts/BebasNeue-Book.otf);
}

input:-webkit-autofill {
	/*-webkit-box-shadow: 0 0 0 1000px white inset;*/
	display: none !important;
}

body {
	padding: 0;
	margin: 0;
	border: 0;

	width: 100%;
	position: absolute;



	font: 14px OpenSans-Regular, sans-serif;
	background-color: rgb(20,20,20);
	color: white;
}

a {
	color: #00B7FF;
	text-decoration: none;
}

b{
	font-family: OpenSans-Semibold, sans-serif;
}

p{
	margin: 0;
	padding-top: 0;
	padding-bottom: 14px;
}

.last{
	padding-bottom: 0;
}

h1 {
	font-family: BebasNeue-Book, sans-serif;
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 100;
}

/* Navigation */

.navigation-bar {
	transition: all 0.5s ease;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	overflow: hidden;
	background-color: rgba(25,25,25,0.9);
	border-bottom: 1px solid #333;
}

.navigation-bar.light {
	transition: all 0.5s ease;
	background-color: rgba(255,255,255,0.9);
	border-bottom: 1px solid #f1f1f1;
}

.navigation-bar ul {
	float: right;
	list-style-type: none;
	margin-right: 40px;
}

.navigation-bar li {
	display: inline-block;
	padding: 16px 10px;
	font-family: OpenSans-Semibold, sans-serif;
	font-size: 14px;
}

.navigation-bar a {
	text-decoration: none;
	color: #777777;
	transition: all 0.3s ease;
}

.navigation-bar a:hover {
	color: #fff;
	transition: all 0.3s ease;
}

.navigation-bar.light a:hover {
	color: #333;
	transition: all 0.3s ease;
}

.navigation-bar #logo {
	position: absolute;
	top: 20%;
	left: 30px;
	height: 60%;
	width: 330px;
	overflow: hidden;
	background: no-repeat url("../../images/logo.svg");
}

.navigation-bar.light #logo {
	background: no-repeat url("../../images/logo-dark.svg");
}

/* Uprise */


/*#uprise {*/
	/*background: #873d04; /!* Old browsers *!/*/
	/*background: -moz-linear-gradient(-45deg,  #873d04 0%, #88007f 100%); /!* FF3.6+ *!/*/
	/*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#873d04), color-stop(100%,#88007f)); /!* Chrome,Safari4+ *!/*/
	/*background: -webkit-linear-gradient(-45deg,  #873d04 0%,#88007f 100%); /!* Chrome10+,Safari5.1+ *!/*/
	/*background: -o-linear-gradient(-45deg,  #873d04 0%,#88007f 100%); /!* Opera 11.10+ *!/*/
	/*background: -ms-linear-gradient(-45deg,  #873d04 0%,#88007f 100%); /!* IE10+ *!/*/
	/*background: linear-gradient(135deg,  #873d04 0%,#88007f 100%); /!* W3C *!/*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#873d04', endColorstr='#88007f',GradientType=1 ); /!* IE6-9 fallback on horizontal gradient *!/*/
/*}*/

/*#uprise .logo{*/
	/*height: 100px;*/
	/*width: 210px;*/
	/*overflow: hidden;*/
	/*background: no-repeat url("../../images/uprise.svg");*/
	/*margin: 0 auto;*/
/*}*/

/*#uprise .description{*/
	/*text-align: center;*/
	/*margin-top: 30px;*/
	/*color: #fff;*/
	/*font-family: BebasNeue-Book, sans-serif;*/
	/*font-size: 40px;*/
/*}*/

/* Thunderclap

#thunderclap {
	background: #db5d00;
}

#thunderclap .logo{
	height: 150px;
	width: 250px;
	overflow: hidden;
	background: no-repeat url("../../images/thunderclap.svg");
	margin: 0 auto;
}

#thunderclap .description{
	text-align: center;
	margin-top: 30px;
	color: #fff;
	font-family: BebasNeue-Book, sans-serif;
	font-size: 40px;
}*/


/* Sections */
section {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	color: #333;
}

section .wrapper {
	width: 740px;
	margin-left: auto;
	margin-right: auto;
}

section .wrapper > * {
	display: block;
	float: left;
}

section .wrapper > h1 {
	padding: 0 4% 0 0;
	margin: 0;
	width: 36%;
	text-align: right;
}

section .wrapper > .content {
	width: 60%;
	font-family: OpenSans-Regular, sans-serif;
	line-height: 22px;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

#testimonials, #about, #contacts {
	background: #fff url("../../images/pattern-bg.png");
	background-size: 600px 600px;
}

#about h1, #contacts h1 {
	color: #92278e;
}

#project, #team, #survey {
	background-color: #f1f1f1;
}

#project h1, #team h1, #survey h1 {
	color: #0071bb;
}

#project ul {
	padding-left: 20px;
}

/* Testimonials */

#testimonials .wrapper{
    width: 740px;
    margin-left: auto;
    margin-right: auto;
}

#testimonials .wrapper .single{
    width: 740px;
    height: 120px;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

#testimonials .wrapper .single .photo{
    width: 120px;
    height: 120px;
    background-size: 120px 120px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

#testimonials .wrapper .single .photo.mikkoalasaarela{
    background-image: url("../../images/mikkoalasaarela.png");
}

#testimonials .wrapper .single .photo.alexfrankenberg{
    background-image: url("../../images/alexfrankenberg.png");
}

#testimonials .wrapper .single .photo.tomwehmeier{
    background-image: url("../../images/tomwehmeier.png");
}

#testimonials .wrapper .single .photo.elidavid{
	background-image: url("../../images/elidavid.png");
}

#testimonials .wrapper .single .photo.stephanjaquemon{
	background-image: url("../../images/stephanjacquemot.png");
}

#testimonials .wrapper .single .description{
    width: 560px;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#testimonials .wrapper .single .description .name{
    font-family: BebasNeue-Regular, sans-serif;
    font-size: 24px;
    color: #92278e;
}

#testimonials .wrapper .single .description .position{
    font-family: BebasNeue-Book, sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
}

#testimonials .wrapper .single .description .quote{
    font-family: OpenSans-Italic, sans-serif;
    font-size: 14px;
    color: #333;
}




.input-category {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.input-option .option:nth-child(2):hover{
	background-color: rgba(255,123,171,0.1);
}

.input-option .option:nth-child(2).selected{
	background-color: rgba(255,123,171,1);
}

#team .profile{
	font-family: BebasNeue-Regular, sans-serif;
	font-size: 32px;
	color: #0071bb;
	padding-top: 8px;
	padding-bottom: 10px;
}

#social{
	float: left;
	display: block;
	width: 100%;
	margin-bottom: 30px;
}

#social .icon{
	float: left;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	opacity: 0.9;
	transition: all 0.2s ease;
}

#social .icon:hover{
	height: 60px;
	width: 60px;
	margin: -5px 5px -5px -5px;
	opacity: 1;
	transition: all 0.2s ease;
}

#social .facebook{
	background-image: url("../../images/facebook.svg");
}

#social .twitter{
	background-image: url("../../images/twitter.svg");
}

#social .linkedin{
	background-image: url("../../images/linkedin.svg");
}

#contacts a{
	transition: all 0.2s ease;
	color: #333;
}

#contacts a:hover{
	transition: all 0.2s ease;
	color: #92278e;
}

footer {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #141414;
}

footer p{
	text-align: center;
	font-family: OpenSans-Regular, sans-serif;
	padding-top: 40px;
	padding-bottom: 20px;
	font-size: 12px;
}

footer #logo{
	height: 200px;
	width: 100%;
	overflow: hidden;
	background: no-repeat url("../../images/logo-footer.svg") center;
	margin: 0 auto;
}

footer #supporter-container{
    margin: 0 auto;
    height: 100px;
    width: 300px;
}

footer #supporter-container .supporter{
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
    height: 100px;
}

footer #supporter-container .supporter.allianz{
	width: 160px;
	background: no-repeat url("../../images/logo-allianz.svg") center;
}

footer #supporter-container .supporter.atomico{
    width: 60px;
    background: no-repeat url("../../images/logo-atomico.svg") center;
}

footer #inkofpixel{
	height: 80px;
	width: 100%;
	overflow: hidden;
	background: no-repeat url("../../images/logo-inkOfPixel.svg") center;
	margin: 0 auto;
}


