/**
 * @author Massimo De Marchi 
 * @created 9/19/15
 *
 * Copyright inkOfPixel 2015.
 */

@-webkit-keyframes slide-transition {
	0% {
		display: none;
		opacity: 0;
		max-height: 0;
	}
	1% {
		display: block;
	}
	100% {
		opacity: 1;
		height: auto;
		max-height: 1000px;
	}
}


#survey .page-number {
	clear: both;
	width: 100%;
	text-align: center;
	font-family: BebasNeue-Book, sans-serif;
	font-size: 24px;
	font-weight: 100;
	padding-top: 20px;
	-webkit-animation: slide-transition 1s ease-in;
	animation: slide-transition 1s ease-in;
}

#survey p {
	padding-bottom: 5px;
}

#survey .wrapper {
	width: 740px;
	margin-left: auto;
	margin-right: auto;
}

#survey .wrapper > * {
	float: none;
}

#survey .question {
	clear: both;
	-webkit-animation: slide-transition 1s ease-in;
	animation: slide-transition 1s ease-in;
}

#survey .question:first-child > * {
	display: block;
	float: left;
}

#survey .question:not(:first-child) {
	text-align: center;
}

#survey .question:first-child > h1 {
	padding: 0 4% 0 0;
	margin: 0;
	width: 36%;
	text-align: right;
}

#survey .question:first-child > .content {
	width: 60%;
}

#survey .question.visible {
	/*display: none;*/
	opacity: 1;
}

#survey .question.not-visible {
	display: none;
	opacity: 0;
}

#survey .question .city-name{
	font-family: BebasNeue-Book, sans-serif;
	font-size: 32px;
	font-weight: 100;
	letter-spacing: 2px;
    color: #0071bb;
	margin: 30px 0 0 0 ;
}

#survey .question .city-number{
	font-family: BebasNeue-Book, sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 1px;
	color: #0071bb;
}

#survey .question .thank-you{
	font-family: BebasNeue-Book, sans-serif;
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 100;
	color: #0071bb;
}

/* CONTROLS */
input[type="text"] {
	border: 0;
	outline: none;
	height: 50px;
	font-family: OpenSans-Regular, sans-serif;
	font-size: 14px;
	padding: 0 20px 0 20px;
	margin-top: 20px;
	width: 100%;
}

button.next {
	margin-top: 16px;
	border: 0;
	height: 50px;
	padding: 5px 0 0;
	width: 33.33%; /* center button 20% of total equal 33.33% of 60% */
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: BebasNeue-Book, sans-serif;
	font-size: 24px;
	font-weight: 100;
	background-color: #0071bb;
	color: #fff;
	cursor: pointer;
	outline: none;
	letter-spacing: 2px;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

button.next:hover {
	background-color: #005c99;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

button.next.disabled {
	background-color: #aaa;
}

button.skip {
	margin-top: 16px;
	border: 0;
	height: 50px;
	padding: 5px 0 0;
	width: 33.33%; /* center button 20% of total equal 33.33% of 60% */
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: BebasNeue-Book, sans-serif;
	font-size: 24px;
	font-weight: 100;
	background-color: #aaa;
	color: #fff;
	cursor: pointer;
	outline: none;
	letter-spacing: 2px;
	margin-right: 10px;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

button.skip:hover {
	background-color: #999999;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}


.input-category.age {
	width: 200px;
}

.input-category.age .menu {
	max-height: 200px;
	overflow: scroll;
}






























